<div class="container">
	
	<div id="footer_logo"></div>

	<div class="hidden-xs">
		<div id="footer_menu">
			<h4><a href="/menu" title="Menu">Menu</a></h4>
			<ul class="first">
				<li><a href="/menu/tacos" title="Tacos">Tacos</a></li>
				<li><a href="/menu/burritos" title="Burritos">Burritos</a></li>
				<li><a href="/menu/plate" title="Plate">Plate</a></li>
				<li><a href="/menu/salads" title="Salads">Salads</a></li>				
				<li><a href="/menu/fillings" title="Fillings">Fillings</a></li>
				<li><a href="/menu/sides" title="Sides">Sides</a></li>
				
			</ul><ul>
				<li><a href="/menu/salsas" title="Our Salsas">Our Salsas</a></li>
				<li><a href="/menu/beverages" title="Beverages">Beverages</a></li>
				<li><a href="/menu/desserts" title="Desserts">Desserts</a></li>
				<li><a href="/menu/ingredients" title="Ingredients">Ingredients</a></li>
			</ul>
		</div><div id="footer_about">
			<h4><a href="/about-us" title="About Us">About Us</a></h4>
			<ul class="first">
				<li><a href="/about-us/history" title="History">Our Story</a></li>
				<li><a href="/about-us/philosophy" title="Philosophy">Philosophy</a></li>
				<li><a href="/about-us/commitment" title="Commitment">Commitment</a></li>
			</ul>
		</div><div id="footer_location">
			<h4><a href="/location" title="Location">Location</a></h4>
			<p>3070 W. Chapman Ave. <br />
			Suite C<br />
			Orange CA,  92868</p>
		</div><div id="footer_contact">
			<h4><a href="/location/contact" title="Location">Contact</a></h4>
			<p><a href="tel:7149783000" title="Call us" class="telephone">(714) 978-3000</a><br /><br />
			<a href="mailto:hola@urbancactus.net" title="Write to Urban Cactus">hola@urbancactus.net</a></p>
			
			<ul class="social">
				<li class="facebook"><a href="https://www.facebook.com/urbancactus?fref=ts" target="_blank"> <span class="icon"></span> Urbancactus</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="visible-xs">
	<div class="container">
		<h4>Contact</h4>
		<div class="row">
			<div  class="col-xs-5">
				<a href="tel:7149783000" title="Call us" class="telephone">(714) 978-3000</a>
			</div>
			<div  class="col-xs-7">
				<a href="mailto:hola@urbancactus.net" title="Contact us" class="email">hola@urbancactus.net</a>
				
				
				<ul class="social">
					<li class="facebook"><a href="https://www.facebook.com/urbancactus?fref=ts" target="_blank"> <span class="icon"></span> Urbancactus</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>